.container{

}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
}
.container hr{
    margin: 0;
    padding: 0;
    border:none;
}
.progressbar{
    width: 100%;
}

.servicesContainer {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    padding: 1rem;
}
.servicesContainer .service{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:20rem; 
    padding: 2rem 0;
}
.servicesContainer .service .status{      
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    color:#fff;
    font-size: 1.5rem;
   
}
.servicesContainer .service  .circle_parent {
    background-color: #24d124;
    width:12rem;
    height:12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:0.1rem 0.5rem;
}
.servicesContainer .service .circle_child {
    background-color: rgb(176, 227, 250); 
    width:8rem;
    height:8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center; 
    flex-wrap: wrap;     
}

.servicesContainer .service .starting{  
    background-color: #76d7e8;
      
}
.servicesContainer .service .online{  
    background-color: #24d124;
       
}
.servicesContainer .service .offline{  
    background-color: #e32e0e;
       
}

.servicesContainer .service  .service_info {
    
}

 